.navbar{
  height: 50px;
  background-color: #FBC02D;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1080px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aWhite{
  text-decoration: none;
  color: #FFFFFF;
}

.logo{
  font-weight: 500;
}

.logoFlex{
  display: flex;
  align-items: center;
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoIcon{
  max-width: auto;
  max-height: 12vh;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #0071c2;
}