.contenedor{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.titulo{
	color: #607D8B;
	font-weight: 700;
	font-size: 2em;
}

.contenedorGrilla{
	display: grid;
	grid-template-areas:
	"tituloNombre tituloIcono ."
	"nombre icono boton";
	gap:20px;
}

.label{
	color: #0071c299;
	font-weight: 700;
	font-size: 24px;
}

.input {
	height: 40px;
	line-height: 45px;
	border-radius: 5px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	border: 1px solid transparent;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.30);
}

.input:focus {
	border: 1px solid rgba(96, 125, 139, 1);
	outline: none;
}

.tituloNombre{
	grid-area: tituloNombre;
}

.nombre{
	grid-area: nombre;
	width: 80%;
}

.tituloIcono{
	grid-area: tituloIcono;
}

.icono{
	grid-area: icono;
	width: 80%;
}

.boton{
	grid-area:boton;
	width: 40%;
}





