@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containerHome{
  width: 100%;
}

.homeContainer{
  width: 100vw;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
